// Color Variables
$color-primary: steelblue;
$color-primary-dark: rgb(6, 63, 110);
$color-secondary: rgb(241, 101, 45);
$color-secondary-light:rgb(255, 160, 122);

// Font Variables
$font-display: 'Noto Sans JP', sans-serif;

// Box Shadow
$box-shadow: 5px 5px 11px 0px #e2dad9;

//////////////////////////
// Responsive Breakpoints
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px

///////////////////////
////////// GLOBAL RESET
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; // SETS FONT SIZE 1rem = 10px  [10px / 16px (browser default value) = 62.5%]
}

body {
  font-weight: 300;
  line-height: 1.6;
}
.border {
  border: 1px solid red;
}
.container{
  display: grid;
  grid-template-columns: repeat(2, 600px);
}
.box-1{
  width: 700px;
}



