// Button
.submit-btn {
  background-color: $color-primary;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-family: $font-display;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: .8rem 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
  letter-spacing: 0.25rem;
  border: transparent 2px solid;

  &:hover {
    background-color: $color-primary-dark;
    transform: scale(1.01);
    border: $color-secondary 2px solid;
    color: $color-secondary-light;
  }
}
.delete-btn

input[type="checkbox"],input[type="text"]{
font-family: inherit;
box-sizing: border-box;
margin: 0;
padding: 0;

font-size: 1.4rem;
border-radius: 5px;
padding-left: 1rem;
height: 3rem;
border: 1px solid #333;
&:hover{
  border: $color-secondary 2px solid;
}
&:focus{
  border: none;
}
}
input[type="checkbox"]{
  height: 4rem;
}
label {
  font-family: inherit;
  font-size: 2rem;
}


